body {
    background: #4992d3;
    background-repeat: no-repeat;
    background-size: cover;
}


.page-container {
    margin-top: 75px;
}

.container-sm{
    margin: 0px;
    background-color: #4992d3;
}


.nav-pills .nav-link.active, .nav-pills .show>.nav-link{
    background-color: #1a456b;
    color:white;
}
.nav-pills .nav-link {
    color:white;
}

#carouselIndicators1, #carouselIndicators2{
    width: 60%;
}